<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="wizzyProductsObserver" type="Wizzy\Search\Model\Observer\ProductsObserver"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="wizzyProductsBulkUpdateObserver" type="Wizzy\Search\Model\Observer\ProductsObserver"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="wizzyCategoriesObserver" type="Wizzy\Search\Model\Observer\CategoriesObserver"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Attribute">
        <plugin name="wizzyAttributesObserver" type="Wizzy\Search\Model\Observer\AttributesObserver"/>
    </type>
</config>
