$whiteBg: #ffffff;
$lightGreyBg: #f7f7f7;
$midGreyBg: #e3e3e3;
$darkGreyBg: #979797;
$linkColor: #343434;
$themeColor: #54a5cd;
$searchZIndex: 100000;
$hightlightColor: #ff905a;
$reviewColor: #ffbe00;

$inputSecondaryColor: #b7b7b7;
$inputHoverColor: #ececec;
$inputFocusColor: $themeColor;