@import 'colors';
@import 'icons';

.wizzy-search-form-wrapper {
  position: relative;

  .wizzy-search-input {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  label {
    display: none;
  }

  .wizzy-search-input {
    font-size: 14px;
  }

  .wizzy-search-glass {
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 5px;

    .wizzy-icon {
      width: 25px;
      height: 25px;
      background: url($searchIcon);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
  }

  .wizzy-search-back, .wizzy-search-clear {
    display: none;
  }
}

@media (max-width: 768px) {
  .wizzy-search-form-wrapper {

    position: relative;

    .wizzy-search-input {
      position: static;
    }

    .wizzy-search-glass {
      top: auto;
      bottom: 20px;
    }

    &.mobileTapped {
      .wizzy-search-form-mobile-wrapper {
        background: $lightGreyBg;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $searchZIndex;
      }

      .wizzy-search-form {
        width: 100%;
        float: left;
        position: fixed;
        height: 53px;
        background: $midGreyBg;
        left: 0;
        top: 0;
        z-index: $searchZIndex+2;
      }

      .wizzy-search-glass {
        display: none;
      }

      .wizzy-search-back {
        position: absolute;
        left: 0;
        top: 0;
        padding: 16px;
        padding-top: 18px;
        display: block;

        .wizzy-icon {
          background: url($searchBackIcon);
          width: 23px;
          height: 17px;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          background-size: 100%;
        }
      }

      .wizzy-search-clear {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        display: block;

        .wizzy-icon {
          background: url($searchClearIcon);
          width: 18px;
          height: 18px;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          background-size: 100%;
        }
      }

      .wizzy-search-input {
        margin: 0;
        border: 0;
        padding: 16px 50px 16px 52px;
        position: static;
        height: 52px;
        box-sizing: border-box;
      }
    }
  }
}