@import 'colors';
@import 'icons';

$autoCompleteMenuRadius: 4px;

%autocomplete-menu-title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.wizzy-autocomplete-wrapper {
  position: absolute;
  background: $whiteBg;
  display: none;
  max-width: 100%;
  width: 944px;
  z-index: $searchZIndex;
  border-radius: $autoCompleteMenuRadius;
  box-sizing: border-box;
  box-shadow: 0 3px 5px rgba(0,0,0,0.15);
  border-top: solid 1px $lightGreyBg;
  min-height: 400px;

  .autocomplete-no-results {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $darkGreyBg;
  }

  &.withoutSuggestions {
    width: 615px;
    .wizzy-autocomplete-suggestions {
      display: none;
    }
    .wizzy-autocomplete-top-products {
      width: 100%;
    }
  }

  &.withoutTopProducts{
    width: 344px;
    .wizzy-autocomplete-suggestions {
      width: 100%;
    }

    &.withoutSuggestions {
      display: none !important;
    }
  }

  .wizzy-autocomplete-top-products {
    background: $whiteBg;
    border-right: solid 1px $lightGreyBg;
    width: 65%;
    order: 0;
    box-sizing: border-box;
    border-radius: $autoCompleteMenuRadius;
    padding: 20px;

    p.top-products-title {
      @extend %autocomplete-menu-title;
    }

    ul.autocomplete-top-products {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;

      li.topproduct-item {
        margin: 0;
        float: left;
        width: 33%;
        padding: 15px;
        font-size: 12px;
        box-sizing: border-box;
        padding-left: 0;

        a.topproduct-item-link {
          text-decoration: none;
          color: $linkColor;
          padding: 10px;
          display: block;
          border-radius: 4px;

          &:hover, &[data-focus="true"] {
            background: $lightGreyBg;
            text-decoration: none;
          }

          .topproduct-item-image {
              img {
                  max-width: 100%;
              }
          }

          p.topproduct-in-category {
            color: $darkGreyBg;
          }

          p.topproduct-price {
            color: $linkColor;
            .topproduct-original-price {
              color: $darkGreyBg;
            }
          }
        }

        p {
          padding: 0;
          margin: 0;
        }

        p.topproduct-title {
          padding-top: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        p.topproduct-in-category {
          color: $darkGreyBg;
        }

        p.topproduct-price {
          color: $linkColor;
          padding-top: 7px;
          font-weight: 600;

          .topproduct-item-discount {
            font-size: 12px;
            color: $hightlightColor;
          }

          .topproduct-original-price {
            color: $darkGreyBg;
            font-weight: normal;
            text-decoration: line-through;
            &:before {
              content: " (";
            }
            &:after {
              content: ")";
            }
          }

        }
      }

    }

  }
  .wizzy-autocomplete-suggestions {
    width: 35%;
    background-color: $whiteBg;
    order: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-radius: $autoCompleteMenuRadius;

    ul.autocomplete-suggestions-list {
      margin: 0;
      list-style: none;
      padding: 0;

      li.autocomplete-item-head {
        @extend %autocomplete-menu-title;

        padding: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 7px;
        margin-top: 7px;


        &:first-child {
          margin-top: 0;
        }
      }

      li.autocomplete-item {
        margin: 0;
        padding: 0;

        ul.autocomplete-item-path {
          list-style: none;
          padding: 0;
          margin: 0;
          font-weight: normal;

          li {
            display: inline-block;
            color: $darkGreyBg;
            font-size: 12px;
            margin: 0;
            &::after {
              padding-left: 3px;
              padding-right: 3px;
              content: "\00BB";
            }
            &:last-child {
              &::after {
                content: "";
              }
            }
            &:first-child {
              &::after {
                content: "";
                padding-left: 0;
              }
            }
          }

        }

        a.autocomplete-text-wrapper {
          display: none;
        }

        a.autocomplete-link {
          display: block;
          padding: 7px;
          padding-right: 15px;
          color: $linkColor;
          text-decoration: none;
          padding-left: 15px;
          font-weight: bold;

          em {
            font-weight: normal;
            font-style: normal;
          }

          &:hover, &[data-focus="true"] {
            text-decoration: none;
            background: $lightGreyBg;
          }

        }

      }

    }

  }

  &.onLeft {
    border-top-left-radius: 0;

    .wizzy-autocomplete-top-products {
      order: 1;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .wizzy-autocomplete-suggestions {
      order: 0;
    }
  }

  &.onRight {
    border-top-right-radius: 0;

    .wizzy-autocomplete-top-products {
      order: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .wizzy-autocomplete-suggestions {
      order: 1;
    }
  }
}

@media (max-width: 768px) {
  .wizzy-autocomplete-wrapper {
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    flex-direction: column;
    position: fixed;
    z-index: $searchZIndex+2;
    max-height: calc(100% - 53px);
    overflow: auto;
    border-radius: 0;
    min-height: auto;
    top: 53px !important;

    &.withoutTopProducts{
      width: 100%;
      .wizzy-autocomplete-suggestions {
        width: 100%;
      }
    }

    .wizzy-autocomplete-suggestions {
      width: 100%;

      ul.autocomplete-suggestions-list {
        li.autocomplete-item {

          a.autocomplete-link {
            border-bottom: solid 1px $lightGreyBg;
            padding: 15px;
            position: relative;

            .autocomplete-text-wrapper {
              position: absolute;
              right: 0;
              top: 0;
              width: 50px;
              height: 50px;
              padding: 8px;
              background: url($autoCompleteTextWrapper);
              box-sizing: border-box;
              background-position: center;
              background-repeat: no-repeat;
            }

          }

          &:last-child {
            a.autocomplete-link {
              border-bottom: 0;
            }
          }
        }
      }
    }

    .wizzy-autocomplete-top-products {
      width: 100%;
      background: $whiteBg;
      padding: 15px;
      display: block;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      order: 2 !important;

      p.top-products-title {
        padding-left: 20px;
        padding-right: 20px;
      }

      ul.autocomplete-top-products {
        float: left;
        width: 100%;
        margin-top: 0;

        li.topproduct-item {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
          border-bottom: solid 1px $lightGreyBg;

          a.topproduct-item-link {
            padding: 0;
            width: 100%;
            float: left;
          }

          .topproduct-item-image {
            width: 50px;
            float: left;
          }

          .topproduct-item-info {
            float: left;
            width: calc(100% - 50px);
            padding-left: 15px;
            box-sizing: border-box;

            .topproduct-title {
              padding-top: 0;
            }

            .topproduct-price {
              padding-top: 0;
            }
          }

        }
      }
    }
  }
}
