<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Wizzy_Search::main"
            title="Wizzy Search"
            module="Wizzy_Search"
            sortOrder="999"
            parent="Magento_Backend::stores"
            resource="Magento_Backend::stores"
        />
        <add
            id="Wizzy_Search::storeCredentials"
            title="Store Credentials"
            module="Wizzy_Search"
            sortOrder="10"
            parent="Wizzy_Search::main"
            action="adminhtml/system_config/edit/section/wizzy_store_credentials/store/1/"
            resource="Wizzy_Search::main"
        />
        <add
                id="Wizzy_Search::generalSetup"
                title="General Setup"
                module="Wizzy_Search"
                sortOrder="20"
                parent="Wizzy_Search::main"
                action="adminhtml/system_config/edit/section/wizzy_general_configuration/store/1/"
                resource="Wizzy_Search::main"
        />
        <add
                id="Wizzy_Search::catalogueConfiguration"
                title="Catalogue Index"
                module="Wizzy_Search"
                sortOrder="30"
                parent="Wizzy_Search::main"
                action="adminhtml/system_config/edit/section/wizzy_catalogue_configuration/store/1/"
                resource="Wizzy_Search::main"
        />
        <add
                id="Wizzy_Search::searchResultsPage"
                title="Search Results Page"
                module="Wizzy_Search"
                sortOrder="40"
                parent="Wizzy_Search::main"
                action="adminhtml/system_config/edit/section/wizzy_search_configuration/store/1/"
                resource="Wizzy_Search::main"
        />
        <add
                id="Wizzy_Search::autocompleteMenu"
                title="Autocomplete Menu"
                module="Wizzy_Search"
                sortOrder="50"
                parent="Wizzy_Search::main"
                action="adminhtml/system_config/edit/section/wizzy_autocomplete_configuration/store/1/"
                resource="Wizzy_Search::main"
        />
        <add
                id="Wizzy_Search::advanced"
                title="Advanced Setup"
                module="Wizzy_Search"
                sortOrder="60"
                parent="Wizzy_Search::main"
                action="adminhtml/system_config/edit/section/wizzy_advanced_configuration/store/1/"
                resource="Wizzy_Search::main"
        />
        <add
            id="Wizzy_Search::queue"
            title="Queue Processors Status"
            module="Wizzy_Search"
            sortOrder="70"
            parent="Wizzy_Search::main"
            action="wizzy_search/queue/status"
            resource="Wizzy_Search::main"
        />
        <add
            id="Wizzy_Search::skippedEntities"
            title="Skipped Entities"
            module="Wizzy_Search"
            sortOrder="80"
            parent="Wizzy_Search::main"
            action="wizzy_search/sync/skippedentities"
            resource="Wizzy_Search::main"
        />
    </menu>
</config>
